<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Book</title>
</head>
<body>
    <h1>View Book</h1>
    <table class="book-table" ></table>
        <tr>
            <th>Title</th>
            <th>Author</th>
        </tr>
        <tr>
            <td><%= book.title %></td>
            <td><%= book.author %></td>
        </tr>
    </table>
    <div clss="link-center">
        <a href="/update/<%= books.id %>">Edit</a>
        <a href="/delete/<%= books.id %>">Delete</a>
        <a href="/">Back to List</a>

    </div>
</body>
</html>